@model DateTime?

<div class="form-group @(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "control-label col-md-3" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m, new { @class = "form-control datetimepicker" })
        @Html.ValidationMessageFor(m => m, null, new { @class = "text-danger" })
    </div>
</div>
