@model BootstrapTester.Models.BootstrapSampleObject

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/assets/dist/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/dist/css/theme-1.css" />
    @*<link rel="stylesheet" href="~/assets/dist/css/bootstrap.css" />*@
    

    <style type="text/css">
        body {
            position: relative;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".nav.affix">

    @Html.Partial("_bootstrapElements", Model)

</body>
</html>

