
@model object
 
<div class="form-group ">
    @Html.LabelFor(m => m, new { @class = "control-label col-md-2 text-success" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m, null, new { @class = "text-danger" })
    </div>
</div>